/*--- 共通部分 ---*/
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: rgb(27, 27, 27);
    font-family: 'Zen Kaku Gothic New', sans-serif;

    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

body{
  width: 100%;
  height: 100%;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

footer {
  width: 100%;
  margin-top: 1em;
  padding-top: 2em;
  text-align: center;
  bottom: 0;
  background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0.8),transparent);
}

a {
    color: rgb(87, 65, 194);;
}

/*--- ローディング ---*/
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        display: none;
        opacity: 0;
        z-index: -1;
    }
}

#loader {
    width: 100%;
    height: 100vh;
    background-color: rgb(87, 65, 194);
    z-index: 99999;
    top: 0;
    left: 0;
    position: fixed;
}

#loader.loaded {
    animation: fadeOut 1s forwards;
}
.spinner {
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*--- particle.js用 ---*/
  #particles-js{ 
    position:fixed;
    z-index:-1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(125deg, rgba(0, 98, 203, 0.8), rgba(51, 0, 179, 0.8));
  }

  #wrapper{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    background-image: url('img/bg_line.png') ;
    background-position: top;
    background-size:contain;
    background-repeat:no-repeat;
  }

/*--- コンテンツ部 ---*/

  .contents {
    margin: 0 auto;
    /*
    //background-color: rgba(240, 248, 255, 0.8);
    //border-radius: 1em;
    //filter: drop-shadow(0px 0px 10px rgba(51, 51, 51, 0.8));
    */
    flex: 1;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }

  h1 {
    padding: 2em;
    text-align: center;
    font-size: 300%;
    font-family: 'Kaisei Decol', serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
    background-image: url("img/h1_bg.png");
    background-position: center;
    background-repeat: no-repeat;
  }
  h2 {
    margin-top: -6em;
    padding-bottom: 5em;
    text-align: center;
    font-family: 'Kaisei Decol', serif;
    color: rgb(255, 228, 53);
    filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));
  }

  h3 {
    margin-top: -0.5em;
    padding-bottom: 1em;
    text-align: center;
    font-family: 'Kaisei Decol', serif;
    color: #FFFFFF;
    filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));
  }

  .horoscope {
    margin: 0.5em;
    padding: 2em;
    width: 30vw;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.8);
    background-image: url("img/horos_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  .horoscope h1 {
    padding: 1em;
    font-size: 150%;
    color: rgb(20, 22, 91);
    filter: none;
    background: none;
  }
  .horoscope h2 {
    padding-top: 1em;
    padding-bottom: 2em;
    color: rgb(20, 22, 91);
    filter: none;
  }

  .images {
    width: 30%;
    margin: 0 auto;
    position: relative;
  }
  .ranking{
    width: 30%;
    position: absolute;
    filter: drop-shadow(0px 0px 2px rgb(255, 255, 255));
  }
  .h_content{
    margin: 0 auto;
    display: inline;
    line-height: 2em;
    border-bottom: 1px solid #878787;
  }
  .rating{
    font-weight: bold;
    font-family: 'Kaisei Decol', serif;
  }
  .nostyle {
    font-weight: normal;
    font-family: 'Zen Kaku Gothic New', sans-serif;
  }
  .star {
    width: 1em;
  }


/*--- モバイル対応 ---*/
@media screen and (max-width: 1024px) { /*ウィンドウ幅が1024px以下の場合に適用*/
  .horoscope {
    width: 100%;
  }
  }